
.textGridContainer{
	margin: 70px; 
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	grid-gap: 2rem; 

}

.cruiseTitle{
  color:rgb(23, 123, 211);
  font-size:6vw;
  text-align:center;
}

.grid-image{
  width:100%; 
  height: 290px; 
}

.textGridItem, .textGridItemThicc, .textGridItemThicccc {
	background-color: rgb(200,200,200); 
	justify-content: center; 
	align-items: center; 
	border: 3px solid rgba(0, 0, 0, 0.8);
	border-radius: 3px; 
	font-size: 2em; 


	/*padding: 20px;  
	font-size: 20;*/ 
  }

  .textGridItemThicc{
	  grid-column: span 2; 
  }

  .textGridItemThicccc {
    grid-column: span 4;
  }

.grid-container {
	display: grid;
	padding: 70px; 
	grid-template-columns: auto auto auto;
	grid-column-gap: 30px; 
	grid-row-gap: 30px; 

	justify-content: space-evenly; 
  }

.grid-item {
	background-color: none; 
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/  

	border: none; 
	/*padding: 20px;  
	font-size: 20;*/ 
	text-align: center; 
  }

  .grid-item a{
    color: rgb(23, 123, 211); 
	  font-size: 2vw; 
	  text-decoration: none; 
	  /*background-color: rgba(255, 255, 255, 0.8);
	  border: 1px solid rgba(0, 0, 0, 0.8);*/
  }

  .grid-item:hover a{
    color:rgb(27, 59, 187);   
}

  .grid-item p
  {
	  font-size: 16; 
  }

  .grid-item:hover
  {
	-webkit-filter: brightness(70%);

	/*-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;*/
  }

  
.bookThisButton{
	margin-left: 70px; 
}

.reservationForms
{
	margin-left: 70px; 
	margin-right: 70px; 
	margin-top: 30px; 
}

.checklistContainer {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklistContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checklistContainer:hover input ~ .checkmark {
  background-color: rgb(176, 212, 225);
}

/* When the checkbox is checked, add a blue background */
.checklistContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklistContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklistContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media(min-width:1440px)
{
  .grid-container{
    grid-template-columns: auto auto auto auto; 
  }
}

@media(min-width: 1900px)
{
  .grid-container{
    grid-template-columns: auto auto auto auto auto; 
  }

  .grid-image{
    height: 370px; 
  }
}

@media(max-width:768px)
{
  .grid-container{
    padding: 25px; 
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
  }

  .grid-image{
    height: 200px; 
  }
}

@media(max-width:425px)
{

  p{
    margin-top:0px; 
    margin-bottom:0px; 
    padding:0px; 
    margin-left: 10px; 
    margin-right: 10px; 
  }
  .grid-container {
    padding: 15px; 
    grid-column-gap: 15px; 
    grid-row-gap: 15px; 
    grid-template-columns: auto auto; 
    }

  .grid-image{
    height: 180px; 
  }

  .grid-item a{
    font-size: 3vw; 
  }
}

@media(max-width:375px)
{
  .grid-image{
    height: 160px; 
  }
}

@media(max-width:320px)
{
  .grid-image{
    height: 130px; 
  }
}