.textGridContainer{
	margin: 70px; 
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	grid-gap: 2rem; 

}

.nonCruiseOptions{
  display:none; 
}

#indent{
  padding-left: 16px; 
}

.blue{
  font-size: 1.4vw; 
  color: rgb(23, 123, 211);
}

#loc, #location, #tourDiv{
  margin-top: 1vw;
  margin-bottom:1vw; 
  font-size: 1.5vw;
  width: 100%;
}

.textGridItem, .textGridItemThicc, .textGridItemThicccc {
	background-color: rgb(200,200,200); 
	justify-content: center; 
	align-items: center; 
	border: 3px solid rgba(0, 0, 0, 0.8);
	border-radius: 3px; 
	font-size: 2em; 


	/*padding: 20px;  
	font-size: 20;*/ 
  }

  .textGridItemThicc{
	  grid-column: span 2; 
  }

  .textGridItemThicccc {
    grid-column: span 4;
  }

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 30px; 
	grid-row-gap: 30px; 
  justify-content: space-evenly;
  }

  .grid-item {
	background-color: none; 
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/ 
	max-width:200px; 
    max-height:150px; 
    font-size:1vw; 
	border: none; 
	/*padding: 20px;  
	font-size: 20;*/ 
	text-align: center; 
  }

  .priceLabel{
    color: rgb(23,123,211);
    font-size: 1.2vw; 
  }

  .checkbox-container{
    color: rgb(23,123,211);
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.2vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox-container input{
    position: absolute;
    opacity: 0; 
    cursor: pointer; 
    height: 0;
    width: 0; 
  }

  .checkbox-container:hover input ~ .checkmark{
    background-color: #ccc; 
  }

  .checkbox-container input:checked ~ .checkmark{
    background-color: rgb(23,123,211);
  }

  .textGridContainerSix{
    margin-top: 20px; 
    margin-bottom: 40px; 
	grid-template-columns: repeat(6, 1fr);
    display: grid;
    grid-column-gap: 1rem; 
    grid-row-gap: 1rem; 
	/*grid-gap: 2rem; */ 

}

  .grid-image{

      height: 100%; 
      width: 100%; 
  }


  .grid-item a{
	  font-size: 20; 
	  text-decoration: none; 
	  /*background-color: rgba(255, 255, 255, 0.8);
	  border: 1px solid rgba(0, 0, 0, 0.8);*/
  }

  .grid-item p
  {
	  font-size: 16; 
  }

  .grid-item:hover 
  {
	-webkit-filter: brightness(70%);
    color: rgb(23, 123, 211);
    color: rgb(27, 59, 187); 
	/*-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;*/
  }

.title{
  margin-top: 40px; 
  margin-bottom: 40px; 
  color:rgb(23, 123, 211); 
    font-size:40;
    font-size:5vw; 
    text-align:center; 
}
  
  
.bookThisButton{
	margin-left: 70px; 
}

.reservationForms
{
	margin-left: 70px; 
	margin-right: 70px; 
	margin-top: 30px; 
}

.checklistContainer {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklistContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.locationHotel{
  display:none; 
}

.showLocHotel{
  display:block;
}

.creditCardForm {
  max-width: 700px;
  max-width: 70%; 
  background-color: #fff;
  margin: 100px auto;
  overflow: hidden;
  padding: 25px;
  color: rgb(16, 133, 39);
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
 /* color: #4c4e56; */ 
}
.heading{
  color: rgb(23, 123, 211);
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  font-size: 1.8vw;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}

.full-width{
  width:100%;
}

/*Since the numPeople is a select, it doesn't get accounted for like the inputs, so we gotta
deal with it explicitly
*/
#numPeople.form-control{
  margin: 0px;
  height: 45px; 
  font-size: 2vw; 
}

.creditCardForm .owner {
  width: 63%;
  margin-right: 2%;
  /*margin-right: 10px;*/ 
}

.creditCardForm .tours, .creditCardForm .prices{
  width: 50%;
}
.creditCardForm .CVV {
  width: 35%;
}
/*.creditCardForm #card-number-field {
  width: 100%;
} */ 
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  /*margin-top: 25px; */ 
}
.creditCardForm .payment .btn{
  width:100%; 
  margin-top: 3px;
  font-size: 24px;
  background-color: rgb(23, 123, 211);
  color: white;
  border-radius:5px; 
  border-width:2px; 
  border-style: solid; 
  border-color: rgb(23, 123, 211);  
}

.alertBox{
  color: rgb(200,200,200);
  font-size: 1vw;
  
  line-height: 1.2vw; 
}

.form-group select{
  border-radius:5px;
  border-width:2px;
  border-style: solid;
  border-color: rgb(23, 123, 211)
}

.creditCardForm .payment .btn:hover{
  /*color: rgb(27, 59, 187); 
  background-color:white; */ 
  border-color: rgb(27, 59, 187); 
  background-color: rgb(27, 59, 187);
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}


.transparent {
  opacity: 0.2;
}


.fancy-checkbox-label > input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: inherit;
  }
  .fancy-checkbox-label {
    font-weight: normal;
    cursor: pointer;
  }

  .fancy-checkbox:before {
    font-family: FontAwesome;
    content: "\f00c";
    background: #fff;
    color: transparent;
    border: 3px solid #ddd;
    border-radius: 3px;
    z-index: 1;
  }

@media(max-width: 650px) {
.creditCardForm .owner,
.creditCardForm .CVV,
.creditCardForm #expiration-date,
.creditCardForm #credit_cards {
    width: 100%;
}
.creditCardForm #credit_cards {
    text-align: left;
}
}

.form-group label {
  display:block; 
  margin-left: 5px;
}

::placeholder{
  color: rgb(176, 212, 225); 
}

.form-control {
  border-width:2px;
  border-style:solid;  
  border-color: rgb(23, 123, 211);
  border-radius:5px; 
  width:100%;
  margin-right: 0px;  
  font-size: 16px; 
}

#ppCont{
  /*max-width: 1100px;
  margin-left: auto;
  margin-right: auto; 
  align-content: center;
  align-items:center; */
}

.ppShow{
  display:none;
}

@media(min-width: 1100px)
{
  #ppCont{
    width: 80%;
    justify-self: center; 
    margin-left: auto;
    margin-right: auto; 
  }
}

@media(max-width:1024px)
{

  .title{
    margin-top: 20px; 
    margin-bottom: 20px; 
    
  }
}

@media(max-width:426px)
{

  .creditCardForm{
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top:50px;
    padding:0px;
    max-width: 100%;
  }

  .creditCardForm .payment{
    margin:0px; 
    padding: 5px;
  }

  .creditCardForm .payment .form-group{
    margin: 0px; 
  }

  .title{
    margin-top:0px;
    margin-bottom: 10px; 
  }

  #loc{
    font-size: 2vw;
    margin:0px;
    width: 100%;
  }

  #card-number-field{
    margin:0px;
    padding: 0px;
  }

  .checkbox-container, .priceLabel{
    font-size: 2.5vw;
  }
} 