:root {
	--clr-red: #F63D69;
	--clr-blue: #3b8acf;
	--clr-black: hsl(207, 19%, 9%); 
	--clr-white: #eeeeee;
}

#exploreBelize{
	margin-top: 40px;
	padding-top: 20px;
}
#caveImgContainer #caveImg{
	height:50%
}
#caveImgContainer{
	text-align:right;padding-right:40px;padding-left:40px;overflow:hidden
}

#gridImages{
	padding-bottom:0px;
}

.aboutItem#textdiv{
	width:65%;
	position:absolute;
	max-width:1100px;
}

.aboutGrid{
	margin:0px;
	padding-bottom:50px;
	background-color:black;
	min-height:55%;
}

.redText {
	color: #F63D69;
}

.blueText{
	color: #2284c4; 
}

.greenText {
	color: rgb(16,133,39);
}

.yellowText {
	color: #e3ba30;
}

.aboutItem{

}

.aboutItem .introParagraph{
	padding-left:20px;
	padding-right:20px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:10px;
	color:#c9beba;
	background-color:rgba(0,0,0,.1);
}

.aboutItem .bigTitle{
	margin-top:10px;
	margin-bottom:10px;
	color:#4bb4de;
}

.aboutItem .smolTitle{color:#d3ba30;}

.slideshowText{
	z-index:2;
	font-size:4.5rem;
	font-weight:700;
	color:#ffffff;
	line-height:6rem;
	position:absolute;
	margin-top:5%;
	margin-left:70px;
}

.slideshowText div{
	display:block; 
}

.textGridContainer{
	margin: 70px;
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	grid-gap: 2rem;

}

.textGridItem, .textGridItemThicc, .textGridItemThicccc {
	background-color: rgb(200,200,200);
	justify-content: center;
	align-items: center;
	border: 3px solid rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	font-size: 2em;


	/*padding: 20px;
	font-size: 20;*/
  }

  .textGridItemThicc{
	  grid-column: span 2;
  }

  .textGridItemThicccc {
    grid-column: span 4;
  }



.logoImg{
	width: 300px;
  margin-bottom: 10px;
  margin-top:10px;
}

.grid-item {
	background-color: none;
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	max-width:300px;

	border: none;
	/*padding: 20px;
	font-size: 20;*/
	text-align: center;
  }

a{
	text-decoration:none;
}


	.tourTypeText{
		text-align: justify;
		color:black;
		font-weight:500;
	}


  .grid-item p
  {
	  font-size: 16;
  }

  .lowkey{
 		color: #EFDBCB;
  }

  .lowkey:hover{
    color:rgb(16, 133, 39);
		color: #4bb4de
		cursor:	pointer;
  }

.title{
  margin-top: 40px;
  margin-bottom: 40px;
  color:rgb(23, 123, 211);
    font-size:5vw;
    text-align:center;
}

.topMargin{
	margin-top:40px;
}

.homeTitle{
  margin-top: 30px;
  margin-bottom: 20px;
  color:rgb(23, 123, 211);
  font-size:4vw;
  text-align:center;
}

.homeTitleText{
	font-size:3vw;
	font-weight: 600;
	margin-top:50px;
	margin-bottom:20px;
	margin-left:70px;
}

.homeTitleText div{
	display:inline-block; 
}

.imageCardTitle{
	font-size:1.1rem;
	font-weight:600; 
}

.imageCardTitle, .imageCardText {
	padding-left: 20px;
	padding-right: 20px;
	color: black;
}

.imageCardText{
	text-align:justify;
	margin-top:10px;
	margin-bottom:10px;
	font-size:1.05rem;
	line-height: 1.2rem;
	font-weight:400;
}

.viewMoreBtn {
	padding: 8px 25px;
	width: 100%;
	padding: 10px 0px;
	border-color: #f63d69;
	border-radius: 20px;
	background-color: #F63D69;
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.3s ease;
} 

.viewMoreBtn:hover{
	color: #ffffff;
	background-color: #3b8acf;
	border-color:#3b8acf;
}

.imageCardBtnContainer {
	display: grid;
	padding: 0px;
	margin: 0px;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	grid-column-gap: 15px;
	padding: 10px;
	padding: 10px 10px;
	padding-bottom: 20px;
	padding-bottom: 15px;
}

.arrowIcon {
	padding: 0.5em;
	position: relative;
	cursor: pointer;
	display: inline-block;
	position: relative;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border-color: #F63D69;
	border-style: solid;
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #ffffff; /*Make it pop out*/
	transition: border-color 0.3s ease;
}

.leftBar {
	position: absolute;
	background-color: transparent;
	left: 0;
	left: 2px;
	top: 12px;
	top: 14px;
	width: 20px;
	width: 15px;
	height: 6px;
	display: block;
	transform: rotate( 35deg );
	float: right;
	border-radius: 2px;
}

.leftBar:after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all .5s cubic-bezier(.25,1.7,.35,.8);
    z-index: -1;
    width: 22px;
    width: 15px;
    height: 6px;
    height: 4px;
    background-color: #F63D69;
}

.rightBar {
	position: absolute;
	background-color: transparent;
	top: 12px;
	top: 14px;
	left: 14px;
	left: 13px;
	width: 20px;
	width: 15px;
	height: 6px;
	height: 3px;
	display: block;
	transform: rotate( -35deg );
	float: right;
	border-radius: 2px;
}

.rightBar:after
{
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all .5s cubic-bezier(.25,1.7,.35,.8);
    z-index: -1;
    width: 22px;
    width: 15px;
    height: 6px;
    height: 4px;
    background-color: #F63D69;
}

.open .leftBar:after
{
	transform-origin: center center;
	transform: rotate(-70deg);
}

.open .rightBar:after {
	transform-origin: center center;
	transform: rotate(70deg);
}

.arrowIcon:hover {
	border-color: #3b8acf;
}

.arrowIcon:hover > .leftBar:after, 
.arrowIcon:hover > .rightBar:after{
	background-color: #3b8acf; 
}

.textHidden {
	margin-top:20px; 
	display: block;
	visibility: hidden;
	height: 0px;
	transition: all .3s ease-in-out 0s, visibility .1s ease-in-out .1s, z-index 1s linear 5s;
}

.visible{
	visibility:visible; 
	height:200px;
}

.bookThisButton{
	margin-left: 70px;
}

.reservationForms
{
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 30px;
}

.checklistContainer {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklistContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checklistContainer:hover input ~ .checkmark {
  background-color: rgb(176, 212, 225);
}

/* When the checkbox is checked, add a blue background */
.checklistContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklistContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklistContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.creditCardForm {
  max-width: 700px;
  max-width: 70%;
  background-color: #fff;
  margin: 100px auto;
  overflow: hidden;
  padding: 25px;
  color: rgb(16, 133, 39);
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
 /* color: #4c4e56; */
}
.heading{
  color: rgb(23, 123, 211);
}

.slideshowReel{
  display:inline-block;
  justify-content: center;
  display:flex;/*
  margin-top:10px;
  margin-bottom:10px;*/
  position:absolute;
  width:100%;
  top:92%;
  z-index:3; 
}

.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 35%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #2ec4a5;
  background-color: rgb(23, 123, 211);
  color: white;
  border-radius:5px;
  border-width:2px;
  border-style: solid;
  border-color: rgb(23, 123, 211);
}
.creditCardForm .payment .btn:hover{
  /*color: rgb(27, 59, 187);
  background-color:white; */
  border-color: rgb(27, 59, 187);
  background-color: rgb(27, 59, 187);
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}

.imageCard {
	color: var(--clr-black);
	background-image: url("../images/square/lubaantunSquare/lubaantunSquare300.jpg");
	background-size:cover;
	padding:10rem 0 0;
	max-width:35ch;
	border-radius: .75rem; 
	overflow:hidden;

	transition: transform 300ms ease; 
	max-height:55%;
}

#nimLiCard{
	background-image: url("../images/nimLi/nimLi1Square.png"); 
}

#spiceFarmCard{
	background-image: url("../images/spiceFarm/spiceFarm1.jpg"); 
}

#jungleTubingCard{
	background-image: url("../images/riverTubing/riverTubing1.jpg");
}

#waterfallsCard{
	background-image: url("../images/waterfalls/waterfalls1.jpg");
}

#caveCard{
	background-image: url("../images/cave/cave3.jpg");
}

#blueHoleCard {
	background-image: url("../images/blueHole/blueHole2.jpg");
}

#snorkelCard{
	background-image: url("../images/southwaterSnorkel/southwater1.jpg")
}

#fishingCard{
	background-image: url("../images/southwaterSnorkel/southwater6.jpg");
}

.imageCard:hover{
	transform: scale(1.03); 
}

.imageCard:hover .imageCardCaption::after{
	transform: scaleX(1); 

}

.imageCard:hover .imageCardContent{
	transform: translateY(0); 
	transition-delay:500ms; 
}

.imageCardCaption {
	position:relative;
	color:var(--clr-white);
	width:max-content;
}

.imageCardCaption::after{
	content: "";
	position: absolute; 
	height: 3px; 
	background: var(--clr-blue); 
	width: calc(100% + 1.5rem); 
	left:0px;
	bottom:-5px;
	left: calc(1.5rem * -1);
	transform: scaleX(0); 
	transform-origin: left; 
	transition: transform 500ms ease; 

}

.imageCardBody{
	text-indent:0px;
	padding:0px;
	margin:0px;
	color: var(--clr-white); 
	margin-bottom:1.5rem;
}

.imageCardBtns{
	display:grid;
	grid-template-columns:auto auto; 
	grid-column-gap: 1.5rem;
}

.imageCardBtn {
	cursor: pointer;
	display: inline;
	text-decoration: none;
	color: var(--clr-white);
	background-color: var(--clr-blue);
	padding: .5em 1.25em;
	font-weight: 600;
	border-radius: .25rem;
	transition: all 0.3s ease;
}

.imageCardBtn:hover, .imageCardBtn:focus{
	background-color: var(--clr-red); 
}

.imageCardContent{
	padding:1.5em;
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / .3) 20%, 
	    hsl(0 0% 0% / 1) 100%
		);
    transform: translateY(130px); 
	transition: transform 500ms ease; 
}

.imageCardContent > *:not(.imageCardCaption) {
	opacity: 0; 
	transition: opacity 500ms linear; 
	transition-delay: 800ms; 
}

.imageCard:hover .imageCardContent > * {
	opacity: 1;
}

@media(max-width: 650px) {
.creditCardForm .owner,
.creditCardForm .CVV,
.creditCardForm #expiration-date,
.creditCardForm #credit_cards {
    width: 100%;
}
.creditCardForm #credit_cards {
    text-align: left;
}
}

.form-group label {
  display:block;
  margin-left: 5px;
}

::placeholder{
  color: rgb(176, 212, 225);
}

.form-control {
  border-width:2px;
  border-style:solid;
  border-color: rgb(23, 123, 211);
  border-radius:5px;
  width:100%;
  margin-right: 0px;
  font-size: 16px;
}

.excursionsContainer {
	background-color: none;
	text-align: center;
	border: none;
	border-radius: 50px;
}

.loadMoreToursBtn {
	width: 40%;
	padding: 10px 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: red;
	background-color: #3b8acf;
	font-size: 1.4rem;
	font-weight: 600;
	color: #ffffff;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.loadMoreToursBtn:hover
{
	background-color:#F63D69;
}

#lubaantunGridImg{
	background-image: url("images/square/lubaantunSquare/lubaantunSquare300.png");
}

/* Begin media queries.
 */
@media(max-width:1024px)
{
	.aboutGrid{
		min-height: 55%;
	}
	.aboutItem#textDiv{
		width:80%;
	}
  .title{
    margin-top: 20px;
    margin-bottom: 20px;
  }

	.homeTitle{
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

@media(max-width:768px)
{
	.aboutItem#textDiv{
		width:100%;
	}

	.aboutGrid{
		padding-top:0px;
		padding-bottom:0px;
		min-height:45%;
	}
	#caveImgContainer{
		padding-left:0px;
	}

	#caveImgContainer #caveImg{
		height:65%;
	}

	#exploreBelize{
		padding-top: 25px;
	}

	.homeTitle{
		margin-bottom: 0px;
		margin-top: 15px;
	}

	.imageCardBtnContainer{
		grid-template-columns:auto;
		grid-row-gap:15px;
	}

	.imageCardTitle{
		padding-left:10px;
		padding-right:10px;
		font-size:1rem;
	}

	.imageCardText{
		text-align:left;
		font-size:.9rem;
		padding-left:10px;
		padding-right:10px;
	}

	.viewMoreBtn{
		font-size: 16px;
		padding:5px 0px;
	}

	.bottomBarLogoText{
		font-size:2rem;
	}

	.bottomBar{
		grid-template-columns:auto;
		grid-row-gap:60px;
	}

	.slideshowText{
		display:none;
	}

}


@media(max-width:425px)
{
	.aboutItem .introParagraph{
		padding-left:0px;
		padding-right:0px;
	}
	
	.aboutGrid{
		min-height: 30%;
	}

	.aboutItem#textdiv{
		width:95%;
	}


	#caveImgContainer{
		text-align:center;
	}
  #caveImgContainer #caveImg{
		height:475px;
	}
	#cruiseDropdown a{
		position:absolute;
	}

	#cruiseDropdown.show a{
		position:relative;
	}

	#exploreBelize{
		margin-top: 0px;
		padding-top: 25px;
	}

  .grid-two{
		grid-template-columns: auto;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
		padding-bottom: 25px;
    grid-column-gap: 20px;
    font-size: 3vw;
    line-height: 3.6vw;
  }

	.logoImg{
		width: 200px;
		margin-top: 15px;
		margin-bottom: 15px;
		align-self: center;
	}

  p{
    margin-left: 10px;
    margin-right: 10px;
  }

  .title{
    margin-top:0px;
    margin-bottom: 10px;
  }

  .homeTitle{
    margin-top:10px;
    margin-bottom:10px;
    font-size: 5vw;
  }

  .homeTitleText{
	  font-size: 1.2rem;
  }

  .imageCardText{
	  padding-left:5px;
	  padding-right:5px;
	  font-size:.7rem;
	  line-height:.9rem;
  }

  .imageCardTitle{
	  padding-left:5px;
	  padding-right:5px;
	  font-size:.8rem;
	  line-height:.9rem;
  }

  .loadMoreToursBtn{
	  width:50%;
	  font-size: 1rem;
  }

  .bottomBar{
	  padding:5px; 
  }

  .bottomBarLogoText{
    font-size: 1.3rem;
  }

  .bottomBarLogoMenu{
	  font-size:.9rem;
  }

  .bottomBarLogoList a{
	  margin-left:10px;
  }
}

@media(min-width:1024px)
{

	.aboutItem#textDiv{
		width:55%;
	}

	#caveImg{
		height:60%;
	}

	.homeTitle{
		font-size:40px;
	}

	.tourTypeText{
		margin-top:15px;
	}

	.aboutItem .introParagraph{
		font-size:18px;
		line-height:20px;
	}
}

@media(min-width:1440px) {
	.slideshowText{
		margin-left: 130px;
	}
}

	@media(min-width:1900px) {
	}

/***************************************************************
 * Begin classes involving javascript appending and toggling. 
 * Ideally none of these classes should set size elements such as 
 * height, width, padding, margin, etc. as that would best be 
 * processed in the media queries, and if it is processed here it
 * may overwrite media queries. 
 ***************************************************************/

/*
 * Currently used for hiding grid-item-pics. Should make them effectively
 * invisible. Should also give them a smooth up and down transition. 
 */
.hidden {
	visibility: hidden;
	height: 0px;
	transition: all .3s ease-in-out 0s, visibility .1s ease-in-out .1s, z-index 1s linear 5s;
}
