#exploreBelize{
	margin-top: 20px;
}

.textGridContainer{
	margin: 70px;
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	grid-gap: 2rem;

}

.textGridItem, .textGridItemThicc, .textGridItemThicccc {
	background-color: rgb(200,200,200);
	justify-content: center;
	align-items: center;
	border: 3px solid rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	font-size: 2em;


	/*padding: 20px;
	font-size: 20;*/
  }

  .textGridItemThicc{
	  grid-column: span 2;
  }

  .textGridItemThicccc {
    grid-column: span 4;
  }

.grid-container {
	display: grid;
	padding-top: 15px;
	padding-right: 70px;
	padding-left: 70px;
	padding-bottom: 70px;
	grid-template-columns: auto auto auto;
	grid-column-gap: 30px;
	grid-row-gap: 30px;

	justify-content: space-evenly;
  }



  .grid-two{
    padding: 70px;
    padding-bottom: 0px;
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap:60px;
    grid-row-gap:50px;
    justify-content: center;
		line-height: 2.3vw;
  }

  .grid-two a {
    cursor: pointer;
 }

 .grid-item-pic:hover {
   -webkit-filter: brightness(70%);
 }

.logoImg{
  max-width:80%;
  margin-bottom: 10px;
  margin-top:10px;
}

.grid-item {
	background-color: none;
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	max-width:300px;

	border: none;
	/*padding: 20px;
	font-size: 20;*/
	text-align: center;
  }

  a{
    text-decoration:none;
    color: rgb(23, 123, 211);
  }

	.grid-item-pic a div{
		color: rgb(23,123,211);
		color: #3B8AC4;
	}

	.grid-item-pic:hover >a div{
		-webkit-filter: brightness(120%);
		color: #4bb4de;;
	}

	.tourTypeText{
		text-align: justify;
	}

  .grid-item-pic {
    background-color: none;
		text-align: center;
    border: none;
    }

    .grid-item-pic div{
			color: #EFDBCB;
			color: #dbc9ba
			color: rgb(219, 202, 183);
    }

    .grid-image{
      width:100%;
      height: 290px;
			height: 300px;
			width: 300px;
    }

  .grid-item-pic a .grid-item a{
	  font-size: 20;
    text-decoration: none;
	  /*background-color: rgba(255, 255, 255, 0.8);
	  border: 1px solid rgba(0, 0, 0, 0.8);*/
  }

  .grid-item p
  {
	  font-size: 16;
  }

  .lowkey{
 		color: #EFDBCB;
  }

  .lowkey:hover{
    color:rgb(16, 133, 39);
		color: #4bb4de
		cursor:	pointer;
  }

  .grid-item-pic:hover > a
  {
    color: rgb(27, 59, 187);
  }

  .grid-item:hover, .grid-item-pic:hover .grid-image
  {
	-webkit-filter: brightness(70%);
	/*-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;*/
  }

.title{
  margin-top: 40px;
  margin-bottom: 40px;
  color:rgb(23, 123, 211);
    font-size:5vw;
    text-align:center;
}

.homeTitle{
  margin-top: 30px;
  margin-bottom: 20px;
  color:rgb(23, 123, 211);
  font-size:4vw;
  text-align:center;
}


.bookThisButton{
	margin-left: 70px;
}

.reservationForms
{
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 30px;
}

.checklistContainer {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklistContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checklistContainer:hover input ~ .checkmark {
  background-color: rgb(176, 212, 225);
}

/* When the checkbox is checked, add a blue background */
.checklistContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklistContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklistContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.creditCardForm {
  max-width: 700px;
  max-width: 70%;
  background-color: #fff;
  margin: 100px auto;
  overflow: hidden;
  padding: 25px;
  color: rgb(16, 133, 39);
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
 /* color: #4c4e56; */
}
.heading{
  color: rgb(23, 123, 211);
}

.slideshowReel{
  display:inline-block;
  justify-content: center;
  display:flex;
  margin-top:10px;
  margin-bottom:10px;
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 35%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #2ec4a5;
  background-color: rgb(23, 123, 211);
  color: white;
  border-radius:5px;
  border-width:2px;
  border-style: solid;
  border-color: rgb(23, 123, 211);
}
.creditCardForm .payment .btn:hover{
  /*color: rgb(27, 59, 187);
  background-color:white; */
  border-color: rgb(27, 59, 187);
  background-color: rgb(27, 59, 187);
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}
@media(max-width: 650px) {
.creditCardForm .owner,
.creditCardForm .CVV,
.creditCardForm #expiration-date,
.creditCardForm #credit_cards {
    width: 100%;
}
.creditCardForm #credit_cards {
    text-align: left;
}
}

.form-group label {
  display:block;
  margin-left: 5px;
}

::placeholder{
  color: rgb(176, 212, 225);
}

.form-control {
  border-width:2px;
  border-style:solid;
  border-color: rgb(23, 123, 211);
  border-radius:5px;
  width:100%;
  margin-right: 0px;
  font-size: 16px;
}



@media(max-width:1024px)
{
  .title{
    margin-top: 20px;
    margin-bottom: 20px;
  }

	.homeTitle{
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

@media(max-width:768px)
{

	#exploreBelize{
		padding-top: 25px;
	}

	.homeTitle{
		margin-bottom: 0px;
		margin-top: 15px;
	}

	.grid-two{
		padding: 25px;
		grid-column-gap: 40px;
		line-height: 2.5vw;
		font-size: 2vw;
	}

  .grid-container{
    padding: 25px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .grid-image{
    height: 200px;
		width: 200px;
  }
}

@media(max-width: 680px)
{
	.grid-container{
		grid-template-columns: auto auto;
	}

	.grid-image{
		height: 240px;
		width: 240px;
	}
}

@media(max-width: 525px)
{
	.grid-image{
		height: 200px;
		width: 200px;
	}
}

@media(max-width:425px)
{

	#exploreBelize{
		margin-top: 0px;
		padding-top: 25px;
	}

  .grid-two{
		grid-template-columns: auto;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
		padding-bottom: 25px;
    grid-column-gap: 20px;
    font-size: 2.9vw;
    line-height: 3.6vw;
  }

	.logoImg{
		max-width: 60%;
		margin-top: 15px;
		margin-bottom: 15px;
		align-self: center;
	}

  p{
    margin-left: 10px;
    margin-right: 10px;
  }

  .title{
    margin-top:0px;
    margin-bottom: 10px;
  }
  .slideshowReel{
    margin-bottom:0px;
  }

  .homeTitle{
    margin-top:10px;
    margin-bottom:10px;
    font-size: 5vw;
  }

  .grid-container {
    padding: 15px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: auto auto;
    }

  .grid-image{
    height: 160px;
		width: 160px;
  }


  .grid-item-pic a, .grid-item a{
    font-size: 3vw;
    text-decoration:none;
  }
}

@media(min-width:1440px)
{

  .grid-container{
    grid-template-columns: auto auto auto auto;
  }

	.grid-two{
		font-size: 2vw;
		line-height: 2.4vw;
	}
}

@media(min-width: 1900px)
{
  .grid-container{
    grid-template-columns: auto auto auto auto auto;
  }

  .grid-image{
    height: 370px;
  }
}

@media(max-width:375px)
{
  .grid-image{
    height: 150px;
		width: 150px;
	}
}

@media(max-width:320px)
{
  .grid-image{
    height: 130px;
		width: 130px;
  }
}

@media(max-width: 300px)
{
	.grid-container{
		grid-template-columns: auto;
	}

	.grid-image{
		height: 200px;
		width: 200px;
	}
}
