.textGridContainer{
    margin: 70px;
    margin-top: 2rem;
	  grid-template-columns: repeat(4, 1fr);
	  display: grid;
    grid-gap: 2rem;

}

.grid-image
{
  width: 100%;
  height: 300px;
}

.textGridItem, .textGridItemThicc, .textGridItemThicccc {
	/*justify-content: center;
    align-items: center;
    align-items: none;  */
    font-size: 18;
    padding:none;
    margin:none;
  }

  .textGridItemTitle{
    color:rgb(23, 123, 211);
    font-size:40;
    font-size:5vw;
    text-align:center;
}

.textGridSmallTitle{
    color: rgb(16, 154, 43);
    color: #3B8AC4;
    text-align:center;
    font-size: 27;
}

  .textGridItemThicc{
	  grid-column: span 2;
  }

  .textGridItemThicc ul{
    padding-left:5%;
  }

  .textGridItemThicccc, .textGridItemTitle {
    grid-column: span 4;
  }

  .tourText{
      margin-top:0px;
      list-style:none;
      text-align:center;

  }

  .tourText:hover{
    -webkit-transform:scale(1.02,1.02);
  }


  .tourText:hover .tourDropdownContent{
    color: rgb(46, 44, 44);
    background-color: rgb(23, 123, 211);
  }

  .tourDropdownContent{
    display:block;
    position:sticky;
    z-index: 1;


    color: rgb(219, 228, 235);

  }

  .tourText li, .price, .tourDropdownContent{
    padding: 10px;
    padding-left:none;
    /*margin-bottom: .5rem;*/
    text-align: center;
    margin-left:-40px;
    font-size: 2vw;
  }

  .tourText li, .price{
    background-color: rgb(23, 123, 211);
  }

  .tourDropdownContent{
    background-color:rgb(238, 219, 238);
    background-color: rgb(219, 228, 235);
  }


  .tourDropDownContent:hover{
      -webkit-transform: scale(1.03,1.03);
  }

  /*The + and = signs*/
  .tourText .noShow{
    background:none;
    font-size:35px;
  }

  .price{
    background-color: rgb(225, 225, 116);
}



.grid-container {
	display: grid;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: auto auto auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

    justify-content: space-evenly;
  }

.grid-item {
	background-color: none;
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	max-width:300px;

	border: none;
	/*padding: 20px;
	font-size: 20;*/
  text-align: center;
  }

  .grid-item a{
      margin-top: 5px;
	    font-size: 18;
      text-decoration: none;
      color: rgb(46, 44, 44);
	  /*background-color: rgba(255, 255, 255, 0.8);
	  border: 1px solid rgba(0, 0, 0, 0.8);*/
  }

  .grid-item:hover
  {
	-webkit-filter: brightness(70%);
	/*-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;*/
  }

  .grid-item:hover a{
      color: rgb(23, 123, 211);
  }

.buttonContainer{
  align-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.purchaseButton:hover{
  background-color: #3B8AC4;
  color: #EFDBCB;
}

.purchaseButton{
    background-color: #345DA7;
    color: #F8E6CB;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color: #4BB4DE;*/
    border-radius: 7px;
    text-decoration:none;
    padding: none;
    margin:none;
    font-size: 3vw;

}

.reservationForms
{
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 30px;
}

.checklistContainer {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklistContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checklistContainer:hover input ~ .checkmark {
  background-color: rgb(176, 212, 225);
}

/* When the checkbox is checked, add a blue background */
.checklistContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklistContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklistContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);


}






/*For very large screens/monitors we can hold 5 images in a single row*/
@media(min-width: 1700px)
{
  .grid-container{
    grid-template-columns: auto auto auto auto auto;
  }
}

@media(min-width: 1100px)
{
  .textGridItemTitle{
    font-size: 54;
  }

  .tourText > li, .price, .tourDropdownContent{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/*Smaller laptops and tablets look nice with 3 images per row*/
@media(max-width: 1200px)
{
  .grid-container{
    grid-template-columns: auto auto auto;
  }

}

/*Tablets should still have 3 images per row, but we downsize them
  so that they can fit nicely on the screen still*/
@media(max-width: 900px)
{
  .grid-item{
    max-width: 220px;
  }

  .grid-image{
    height: 220px;
  }
}

/*Remove the margins from our text grid when we are using anything smaller than
  a conventional tablet*/
@media(max-width:786px)
{
  .button-container{
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .textGridContainer
  {
    margin-bottom: 20px;
    margin-left:20px;
    margin-right:20px;
  }
}

/*When we start getting to small tablets and phones it's best to display at most 2 images
  and to downsize the images a bit*/
@media(max-width: 670px)
{

  .grid-container{
    grid-template-columns: auto auto;
  }

  .grid-item{
    max-width: 220px;
  }

  .grid-item a{
    font-size: 3.4vw;
  }

  .grid-image{
    height: 220px;
  }

  .textGridContainer{
    grid-gap:1rem;
  }

  .textGridItemTitle{
    font-size: 7vw;
  }

  .textGridItemThicccc{
    text-align:center;
  }

  .textGridItemThicc{
    grid-column: span 4;
    text-align: center;
  }

  .textGridItemThicc > ul{
    text-align:left;

  }

  .tourText >li, .price, .tourDropdownContent{
    padding: 5px;
    font-size: 3vw;
  }
}

@media(max-width:440px)
{
  .buttonContainer{
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .textBlock{
    margin-bottom: 25px;
  }

  .purchaseButton{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .grid-container{
    margin-left: 5px;
    margin-right: 5px;
  }

  .grid-item{
    max-width: 170px;
  }

  .grid-image{
    height: 170px;
  }

  .textGridSmallTitle{
    font-size: 5.7vw;
  }
}

@media(max-width:375px)
{
  .grid-item{
    max-width:150px;
  }

  .grid-image{
    height:150px;
  }

  .textBlock{
    margin-bottom: 15px;
  }
  
}

@media(max-width:320px)
{

  .grid-container{
    grid-template-columns:auto;
  }

  .grid-item{
    max-width:250px;
  }

  .grid-item a{
    font-size: 5vw;
  }

  .grid-image{
    height: 250px;
  }

  .tourText >li, .price, .tourDropdownContent{
    padding: 3px;
    font-size: 3.2vw;
  }
}
